<div class="row">
    <app-unit-card unitId=1 class="col"></app-unit-card>
    <app-unit-card unitId=2 class="col"></app-unit-card>
    <app-unit-card unitId=2 class="col"></app-unit-card>
</div>
<div>
    {{activePlayerCard}}
</div>

<div>
    Saved Cards: 
    <div *ngFor="let unitSave of saveCards.unitSaves" class="row">
        <app-unit-card unitId={{unitSave.cardId}} class="col" curHealth={{unitSave.curHealth}}></app-unit-card>
    </div>
</div>
